/*-------general--------*/

@font-face {
	font-family: 'Provoke-Regular';
  	src: url('../font/Provoke-Regular.eot'); /* IE9 Compat Modes */
  	src: url('../font/Provoke-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/Provoke-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/Provoke-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/Provoke-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/Provoke-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h1, h2, p, ul {
	margin: 0;
	padding: 0;
}


*::selection {
	color: rgba(15, 15, 15, 1);
	background-color: white;
}

body {
	background-color: rgba(15, 15, 15, 1);
	color: white;
	font-family: "Fira Sans Extra Condensed", "Roboto Condensed", sans-serif;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: 0.04em;
	cursor: crosshair;

}

.section {
	padding: 6vh 5vw;
	/* height: 100vh; */
}

.sub-title {
	text-align: center;
	font-size: 3.4em;
	margin-bottom: 0.5em;
}

.line {
	width: 40px;
	text-align: center;
	height: 0;
	border-bottom: 4px solid white;
	margin: 1em auto 2em auto;
/*	display: none;*/
}

#sample .line {
	border-bottom: 4px solid black;
}

.desc {
	text-align: center;
	font-size: 1.6em;
	line-height: 1.7em;
	color: grey;
	margin-bottom: 2em;
	padding: 0 1em;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/*-------home--------*/

.nav {	
	padding: 2.5em 4em;
	list-style: none;
	display: flex;
	justify-content: space-between;
	letter-spacing: 0.15em;
}

.nav-link {
	color: white;
	text-decoration: none;
	padding: 0.7em 1.5em;
	box-sizing: border-box;

}

.nav-link:hover {
	border: 2px solid white;
}


h1 {
	font-family: "Provoke-Regular", sans-serif;
	font-size: 15em;
	text-align: center;
	margin: 222px auto;
	to; */
	font-weight: normal;
	/* opacity: 0.9; */
	padding-top: 6vh;
}

.intro {
	font-size: 1.5em;
	text-align: center;
	margin-top: 1em;
}

/*-------tryout--------*/


#tryout .desc {
	color: #9c9c9c;
}


.tryout-selector {
	text-align: center;
	margin: 30px auto;
}

.selector-size {
	background-color: white;
	width: 20%;
	height: 10%;
	cursor: pointer;
	color: black;
	border: 2px solid white;
	font-size: 2.2em;
	font-family: "Fira Sans Extra Condensed", "Roboto Condensed", sans-serif;
	border-radius: 0;
}

.tryout-text {
	font-family: 'Provoke-Regular', sans-serif;
	font-size: 60px;
	text-align: center;
	word-break: break-all;
	line-height: 1.6em;
	margin-bottom: 0.5em;
}

.tryout-text:focus {
	outline: none;
}

form {
	display: flex;
	justify-content: center;
}

input[type=text] {	
	width: 82%;
	background-color: #0F0F0F;
	border: none;
/*	border-bottom: 4px solid white;*/
	color: white;
	font-family: "Provoke-Regular", sans-serif;
	font-size: 5vw;
	line-height: 1.5;
}

input[type=text]:focus {
	outline: none;
}

input[type=text]::placeholder {
	color: white;
	line-height: 1.5;
}

/*-------glyphs--------*/

/*#glyphs {
	margin-top: -6vh;
}*/

.glyph-wrap {
	display: grid;
	/* margin: 4vw; */
	grid-template-rows: repeat(9, 130px);
	grid-template-columns: repeat(7, 1fr);
}

.glyph-wrap div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.2px solid #2F2F2F;
}

.glyph {
	font-size: 3.6em;
	font-family: "Provoke-Regular", sans-serif;
}

.glyph-type {
	font-size: 1.5em;
	text-align: center;
	border-bottom: 2px solid white;
}

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */

/*.wrapper{ width: 980px; margin: 0 auto;  background-color: #bdd3de; hoverflow: hidden;}
*/
.panel {
	margin: 0 auto;
	height: 130px;
	width: 100%;
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

.panel .front,
.panel .back {
	text-align: center;
}
	
.panel .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.panel.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.front, .back, .box1, .box2 {
	width: 100%;
}
.box1{
	background-color: #0F0F0F;
	color: white;
	height: 130px;

}
.box2{
	background-color: white;
	color: #0F0F0F;
	height: 130px;
}


/*-------feature--------*/


.feature-text {
	/* padding: 50px 4vw; */
	width: 100%;
}

/*-------sample--------*/

/*#sample {
	height: 100vh;

}*/

#sample {
	background-color: white;
	color: rgba(15, 15, 15, 1);
}

.sample-wrap {
	margin: 50px auto;
  	position: relative;
  	margin: auto;
}

.sample-wrap img {
	width: 100%;
}

.dot-wrap {
	text-align: center;
}

.dot {
  cursor:pointer;
  height: 8px;
  width: 8px;
  margin: 20px 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*-------download--------*/
#download {
	display: flex;
	justify-content: center;
}

#button {
	width: 30vw;
	height: 10vw;
	background-color: white;
	border-radius: 20px;
	margin: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

#button span {
	font-family: "Provoke-Regular", sans-serif;
	font-size: 5vw;
	color: #0F0F0F;
}

/*-------GET--------*/
#get {
	margin: 0;
	padding: 0;

}

.soon {
	font-size: 9em;
	text-align: center;
	font-family: "Provoke-Regular", sans-serif;
	margin-top: 10vh;
}


/*-------footer--------*/

footer {
	display: flex;
	justify-content: center;
	padding: 4vh 0 1vh 0;
	font-size: 14px;
}
footer a {
	color: white;

}

footer a:visited {
	color: white;
}

footer a:hover {
	color: white;
}

